<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820466289615-0phrebjqccrkvk46khnbl7b26ebvmq55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820466289615-0phrebjqccrkvk46khnbl7b26ebvmq55</string>
	<key>API_KEY</key>
	<string>AIzaSyBxtRwInjW-vxAD78mBp-MSUAfSNfsBG3E</string>
	<key>GCM_SENDER_ID</key>
	<string>820466289615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChatapp</string>
	<key>PROJECT_ID</key>
	<string>we-chat-fe0b9</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-fe0b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820466289615:ios:5429b9a5d42908607aa0ba</string>
</dict>
</plist>